{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="post">
        {% for post in article_objs_list %}
{#            {% if post.status == 'p' %}#}
                <section class="post">
                    <header class="post">
                        <h2 class="post-title"><a href="{% url 'post' id=post.id %}">{{ post.title }}</a></h2>
                        <p class="post-meta">
                            发布时间：<a class="post-author">{{ post.pub_time}}</a>&nbsp;&nbsp;
                            分类：<a class="post-category post-category-pure" href="#">{{ post.category }}</a>&nbsp;&nbsp;
                            标签：
                            {% for tag in post.tag.all %}
                                <a class="post-category post-category-pure" href="#">{{ tag }}</a>
                            {% endfor %}&nbsp;&nbsp;
                            浏览次数：{{ post.views }}
                        </p>
                    </header>
                    <div class="post-description">
                        <p>
                        {#striptags用于过滤正文中所有的HTML标签#}
                        {#truncatechars用于截取正文前300个字符#}
                        {{ post.content|striptags|truncatechars:300 }}
                        </p>
                    </div>
                    <div><a class="post-category post-category-design" href="{% url 'post' id=post.id %}">阅读全文</a></div>
                </section>

{#            {% endif %}#}
        {% endfor %}

    </div>
    <div>
        {% if article_objs_list.object_list and article_pages.num_pages > 1 %}
            <div>
                {% if article_objs_list.has_previous %}
                    <a class="footer" href="?page={{ article_objs_list.previous_page_number }}">
                        <i class="fa fa-angle-left"></i>&nbsp;&nbsp;上一页
                    </a>
                {% endif %}
                {% for i in article_pages.page_range %}
                    {% if article_objs_list.number == i %}
                        <a href="?page={{ i }}" style="color: #2B333D">{{ i }}</a>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if article_objs_list.has_next %}
                    <a class="footer" href="?page={{ article_objs_list.next_page_number }}">
                        下一页&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}