{% extends "base.html" %}
{% block content %}
<div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>

                    <p class="post-meta">
                        发布时间: {{ post.pub_time}}&nbsp&nbsp
                        分类: <a class="post-category post-category-pure" href="#">{{ post.category }}</a>&nbsp&nbsp
                        标签:
                          {% for tag in tags %}
                            <a class="post-category post-category-pure" href="#">{{ tag }}</a>
                          {% endfor %}&nbsp;&nbsp;
                        浏览次数：{{ post.views }}
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content|safe }}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->
<!-- 上下文切换 -->
<div>
    {% if pre_article %}
        <a class="footer" href="{% url 'post' id=pre_article.id %}" style="text-decoration: none; float: left;">
            <i class="fa fa-angle-left"></i>&nbsp;&nbsp;上一篇：{{ pre_article.title }}
        </a>
    {% endif %}
    {% if next_article %}
        <a class="footer" href="{% url 'post' id=next_article.id %}" style="text-decoration: none; float: right;">
            下一篇：{{ next_article.title }}&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>
        </a>
    {% endif %}
</div>



{% endblock %}