<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href={% static 'signup/css/style.css' %} />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>

    <body>

<!-----start-main---->
        <div class="main">
            <div class="inset">
            <div class="social-icons">
             <div class="span"><a href="#"><img alt="facebook" src={% static 'signup/images/fb.png' %} /><i>Connect with Facebook </i><div class="clear"></div></a></div>
             <div class="span1"><a href="#"><img alt="twitter" src={% static 'signup/images/t-bird.png' %} /><i>Connect with Twitter</i><div class="clear"></div></a></div>
             <div class="clear"></div>
            </div>
            </div>
            <h2>Or sign up with</h2>
            <form method="post">
                {% csrf_token %}

                {% if err %}
                    <div class="alert alert-warning">{{ err }}</div>
                {% endif %}
                <div class="lable">
                    {{ regs_form.username }}{{regs_form.username.errors}}
                </div>
                {% if name_err %}
                    <div class="alert alert-warning">{{ name_err }}</div>
                {% endif %}
                <div class="clear"></div>
                <div class="lable-2">
                    {{ regs_form.email }}{{regs_form.email.errors}}
                    {% if email_err %}
                        <div class="alert alert-warning">{{ email_err }}</div>
                    {% endif %}


                    {{ regs_form.password }}{{regs_form.password.errors}}
                    {{ regs_form.confirm_p }}{{regs_form.confirm_p.errors}}
                    {% if psw_err %}
                        <div class="alert alert-warning">{{ psw_err }}</div>
                    {% endif %}
                </div>
                <div class="clear"> </div>
                <h3>By creating an account, you agree to our
                    <span>
                        <a href="#">Terms & Conditions</a>
                    </span>
                </h3>
                <div class="submit">
                    <input type="submit" onclick="myFunction()" value="Create account" >
                </div>
                <div class="clear"> </div>
            </form>
         </div>
<!-----//end-main---->

<!-----start-copyright---->
        <div class="copy-right">
            <p>不登录 直接浏览 <a title="hompage" href={% url 'home' %}>博客首页</a></p>
        </div>
    </body>
</html>